{% extends "base.html" %}
{% block title %}Storage{% endblock %}

{% block page_content %}
    <form id="uploading" action="/" method="POST" enctype="multipart/form-data">
        <input id ="upload-file" type="file" name="file">
        <button id="submit-button" class="btn btn-info" type="submit">Загрузить</button>
    </form>
    <p>
    <form action="/" method="GET" enctype="multipart/form-data">
        <select id="choosing" class="form-control col-md-4">
            <option name="first">Choose your file</option>
            {% for get_file in file_list %}
                <option name={{ get_file }}>{{ get_file }}</option>
            {% endfor %}
        </select>
    </form>
    <br>
    <script>
        $(document).ready(function () {
            $('#choosing').change(function () {
                var fileName = ($('#choosing option:selected').attr("name"));
                $('#downloadFile').attr("href", "{{ url_for('download', filename='name' )}}".replace('name', fileName));
            })
        });
    </script>
    <div id="button">
        <a class="btn btn-info"
           id="download-file"
           role="button"
        >Download me!</a>
    </div>
    </p>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
    </div>
{% endblock %}